/* styles for devices with large screens */

/* -------------------------------------------
		HEADER
----------------------------------------------  */

#header h1 {
	font-size: 30px;
}

/* -------------------------------------------
		CONTENT
----------------------------------------------  */

#content {
	margin: 0 auto;
    width: 600px;
}

/* -------------------------------------------
		FOOTER
----------------------------------------------  */

#footer {
    position: fixed;
    bottom: 0px;
}


