/* Modification of HTML5 Reset */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,hgroup,menu,nav,section,menu,time,mark,audio,video {
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
margin:0;
padding:0;
line-height: 1.3;
}

article,aside,figure,footer,header,hgroup,nav,section {
display:block;
}

img,object,embed {
max-width:100%;
}

ul {
list-style:none;
}

blockquote,q {
quotes:none;
}

blockquote:before,blockquote:after,q:before,q:after {
content:none;
}

a {
font-size:100%;
vertical-align:baseline;
background:transparent;
color:#03f;
margin:0;
padding:0;
}

del {
text-decoration:line-through;
}

abbr[title],dfn[title] {
border-bottom:1px dotted #000;
cursor:help;
}

table {
border-collapse:collapse;
border-spacing:0;
font-size:inherit;
font:100%;
}

th {
font-weight:700;
vertical-align:bottom;
}

td {
font-weight:400;
vertical-align:top;
}

hr {
display:block;
height:1px;
border:0;
border-top:1px solid #ccc;
margin:1em 0;
padding:0;
}

input,select {
vertical-align:middle;
}

pre {
white-space:pre-line;
word-wrap:break-word;
}

input[type=checkbox] {
vertical-align:baseline;
}

select,input,textarea {
font:99% sans-serif;
}

a:hover,a:active {
outline:none;
}

small {
font-size:85%;
}

strong,th {
font-weight:700;
}

td,td img {
vertical-align:top;
}

sub,sup {
font-size:75%;
line-height:0;
position:relative;
}

sup {
top:-.5em;
}

sub {
bottom:-.25em;
}

pre,code,kbd,samp {
font-family:monospace, sans-serif;
}

.clickable,label,input[type=button],input[type=submit],button {
cursor:pointer;
}

button,input,select,textarea {
margin:0;
}

button {
width:auto;
overflow:visible;
}

.ie7 img {
-ms-interpolation-mode:bicubic;
}

.ie6 html {
filter:expression(document.execCommand("BackgroundImageCache",false,true));
}

.clearfix:before,.clearfix:after {
content:"\0020";
display:block;
height:0;
overflow:hidden;
}

.clearfix:after {
clear:both;
}

.clearfix {
zoom:1;
}

body {
font: 15px Helmet, Freesans, sans-serif;
}

body,select,input,textarea {
color:#333;
}

a:hover {
color:#69f;
}

a:link {
-webkit-tap-highlight-color:#fcd700;
}

ins {
background-color:#fcd700;
color:#000;
text-decoration:none;
}

mark {
background-color:#fcd700;
color:#000;
font-style:italic;
font-weight:700;
}

input[type=radio],.ie6 input {
vertical-align:text-bottom;
}

::-moz-selection,::selection {
background:#fcd700;
color:#fff;
text-shadow:none;
}