/* styles for devices with small screens */

body {
    background: #eee;
}

/* -------------------------------------------
		HEADER
----------------------------------------------  */

#header {
    background: #fff;
}

#header h1 {
	font-size: 18px;
}

/* -------------------------------------------
		CONTENT
----------------------------------------------  */

#content {
    background: #fff;
}

#welcome, #register {
	height: 210px;
}

/* -------------------------------------------
		FOOTER
----------------------------------------------  */

